.customOrder {
  background-color: #faf6f2;
  border: 4px solid #da5162;
  border-radius: 8px;
  margin: 80px 160px;
  padding: 30px 40px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.customOrder .customOrderText h4 {
  font-family: "Satisfy", "cursive";
  font-size: 2.875rem;
  font-weight: bolder;
  color: #da5162;
  margin-bottom: 1rem;
}

.customOrder .customOrderText p {
  font-family: "Montserrat", sans-serif;
}

.customOrder .customOrderImage img {
  width: 200px;
  margin-right: 50px;
}
