/* 
caption 14px; 0.875rem - only nav and captions
body 16px; 1rem - body default
h6 20px; 1.25rem - small heading - bannerCarousel p
h5 28px; 1.75rem - service box h6, quote box
32px 2rem
h4 46px; 2.875rem - large heading - made with love, services
h3 64px; 4rem - extra large heading- bannerCarousel 
*/

.style_h1 {
  font-size: 6rem;
  font-weight: 500;
}

.style_h2 {
  font-size: 3.75rem;
  font-weight: 500;
}

.style_h3 {
  font-size: 3rem;
  font-weight: 500;
}

.style_h4 {
  font-size: 2.125rem;
  font-weight: 500;
}

.style_h5 {
  font-size: 1.5rem;
  font-weight: 500;
}

.style_h6 {
  font-size: 1.25rem;
  font-weight: 500;
}

.style_subheading1 {
  font-size: 1rem;
  font-weight: 500;
}

.style_subheading2 {
  font-size: 0.875rem;
  font-weight: 500;
}

.style_body1 {
  font-size: 1rem;
}

.style_body1 {
  font-size: 0.875rem;
}

.typography--color-primary {
  color: #f2994a;
}

.typography--color-error {
  color: #eb5757;
}
