/* =========================== our services section css ==============================*/
.service {
  padding: 0px 80px 40px 80px;
  position: relative;
}

.service h4 {
  text-align: center;
  font-family: "Satisfy", "cursive";
  font-size: 2.875rem;
  font-weight: bolder;
  color: #da5162;
  margin-bottom: 4rem;
}

.serviceBox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
}

.serviceBoxText {
  width: 600px;
}

.serviceBoxText h5 {
  font-family: "Paytone One", sans-serif;
  font-size: 2.875rem;
  margin-bottom: 1.5rem;
  color: #da5162;
  line-height: 52px;
}

.serviceBoxText h6 {
  font-family: "Satisfy", sans-serif;
  font-size: 1.75rem;
  margin-bottom: 1.5rem;
}

.serviceBoxText p {
  font-family: "Montserrat", sans-serif;
}

.serviceBoxImage img {
  width: 300px;
  margin-left: 80px;
}

/* =========================== our services carousel css ==============================*/

.owl-item {
  height: 440px;
  display: flex;
  align-items: flex-end;
}

.serviceCard {
  height: 380px;
  background-color: #faf6f2;
  padding: 90px 25px 40px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  border: 4px solid white;
  border-radius: 8px;
  position: relative;
}

.serviceCard:hover {
  border: 4px solid #da5162;
  border-radius: 8px;
}

.serviceCard:hover img {
  transform: rotate(10deg);
  transition: 300ms linear all;
}

.serviceCard img {
  width: 120px !important;
  height: 120px;
  position: absolute;
  border: 12px solid white;
  border-radius: 50%;
  box-shadow: 6px 6px #da5162;
  top: -18%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
}
.serviceCard .serviceCardText {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.serviceCard .serviceCardText h4 {
  font-family: "Satisfy", "cursive";
  font-size: 1.75rem;
  font-weight: bold;
  color: #da5162;
  margin-bottom: 1rem;
}

.owl-carousel .owl-nav {
  overflow: hidden;
  height: 0px;
}

.owl-theme .owl-dots .owl-dot span {
  width: 15px;
  height: 15px;
  background: white;
  border: 3px solid #cecece;
  transition: all 0.3s ease-in-out;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #da5162;
}

.owl-theme .owl-nav [class*="owl-"] {
  width: 40px;
  height: 40px;
  background-color: #da5162;
  color: white;
  text-align: center;
  padding: 10px;
  border-radius: 50%;
}

.owl-theme .owl-nav [class*="owl-"]:hover {
  background-color: #da5162;
  color: white;
}

.owl-carousel .nav-button {
  cursor: pointer;
  position: absolute;
  top: 40% !important;
}

.owl-carousel .owl-prev {
  left: -2%;
}
.owl-carousel .owl-next {
  right: -2%;
}
