body {
  font-family: "Montserrat", sans-serif;
  color: #666666 !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
caption {
  margin: 0px;
  padding: 0px;
}
